h1 {
text-align: center;
  font-size: 2em;
  color: #008;
  margin-bottom: .4em;
  text-decoration: underline;
}

h2 {
text-align: left;
  font-size: 1em;
  color: #004;
  margin-bottom: .2em;
  text-decoration: italic;
}

body {
  background-color: lightblue;
}

